head {
  font-align: center;
}
h1 {
  font-size: 56px;
  color: #800517;
  line-height: 1px;
  
}
h2 {
  padding: 1px;
  color: #800517;
  font-size: 28px;
}
h3 {
  color: #800517;
  font-size: 26px;
  text-align: left;
  
}
p {
  padding: 0px;
  color: black;
  font-size: 18px;
  }
p1 {
  font-size: 14px;
}
p3 {
  font-size: 26px;
}
